@use "/src/assets/scss/forvward.scss" as *;

.nav-posts {
  max-width: max-content;
  padding: toRem(30);
  background: $bgHeader;
  border-radius: 0 0 toRem(20) toRem(20);
  @include sectionMargin();
  &__list {
    display: flex;

    gap: toRem(30);
    align-items: center;
  }

  &__item {
    text-transform: capitalize;
    transition: color 0.5s;
    display: flex;
    gap: toRem(10);
    @include adaptiveValue("font-size", 22, 18);
    &:hover {
      color: $hover;
    }
  }
}
.posts {
  @include adaptiveValue("padding-bottom",70 ,30 );

  &__list {
    display: flex;
    flex-direction: column;
    gap: toRem(30);
    margin-bottom: toRem(20);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
    background: $bgHeader;
    padding: toRem(30) toRem(20);
  }
}
.posts-item {
  position: relative;
  &__title {
    text-align: center;

    padding: toRem(10);
    background: $blackTeamText;
    @include adaptiveValue("font-size", 22, 18);
  }

  &__user-name {
    width: max-content;
    padding: toRem(10);
    background: $blackTeamText;
  }
  &__category {
    max-width: max-content;
    background: $blackTeamText;
    padding: toRem(3) toRem(10);
  }
}
