@use "/src/assets/scss/forvward.scss" as *;

.post {
  display: flex;
  flex-direction: column;
  gap: toRem(20);
  &__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: toRem(20);
  }

  &__img {
  }

  &__description {
    position: relative;
    text-align: justify;
    margin-bottom: toRem(20);
  }

  
  &__wraper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    padding: toRem(30) toRem(20);
    margin-bottom: toRem(30);
  }
}

.comments-post {
  &__title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: toRem(30);
  }
  &__list{
    display: flex;
    flex-direction: column;
    gap: toRem(20);
  }
  &__item {

    position: relative;
    display: flex;
    flex-direction: column;
    gap: toRem(10);
    padding: toRem(30) toRem(20);
    background: $bgHeader;
  }

  .add {
    display: flex;
    margin: toRem(30) auto;
  }
}
