@use "/src/assets/scss/forvward.scss" as *;

.header {
  background: $bgHeader;
  @include adaptiveValue("padding-top", 30, 10);
  @include adaptiveValue("padding-bottom", 30, 10);
  @include sectionMargin();
 
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
  &__logo {
    background: white;
    border-radius: 10%;
    width: 60px;
    img {
      width: 100%;
    }
  }
  &__welcome{
    display: flex;
    align-items: center;
    gap: 10px;
    
  }
  &__user{
    text-transform: capitalize;
    @media (max-width:$mobile){
       display: none; 
    }

  }
  &__login{
    @media (max-width:$mobile){
       padding: 8px !important; 
    }
  }
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  &__list {
    align-items: center;
    display: flex;
    justify-content: center;
    @include adaptiveValue("gap", 30, 20);
    @include adaptiveValue("font-size", 18, 16);
  }

  &__item {
    text-transform: capitalize;
    text-align: center;

    .active {
      transition: color 0.3s;

      color: $blackTeamText;
    }
  }
}
