@use "./assets/scss/variable.scss" as *;
@use "./assets/scss/null.scss" as *;
@use "./assets/scss/mixin.scss" as *;



.h1-title {
  @include adaptiveValue("font-size", 35, 24);
}
.h2-title {
  @include adaptiveValue("font-size", 28, 18);
}
.option {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: 15px;
  display: flex;
  padding: 5px;
  align-items: center;

  &__delete {
  }
  &__edit {
  }
}
